/*
  Contents
  
  1.0 - Login
  2.0 - Navigation
  3.0 - Overview
  4.0 - Add Shift

*/
@import 'bootstrap';
@import "ember-side-menu";

//Fonts
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';

$mainColour: #006399;

*{
  padding:0;
  margin:0;
}
body{
  font-family: 'Ubuntu', sans-serif;
  color: #6d6d6d;
}


//1.0
//Login
.message_alert {
  background: #ff5151;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  min-height: 3em;
  color: white;
  text-align: center;
  padding: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
.login_back{
  //background:url('https://static.pexels.com/photos/136739/pexels-photo-136739.jpeg') fixed center center;
  background:url('https://static.pexels.com/photos/110143/pexels-photo-110143-large.jpeg') fixed center center;
  background-size:cover;
  height:100%;
  position: fixed;
  width: 100%;
  overflow: scroll;
  .login_form{
    position:absolute;
    top:0;
    .btn-primary {
      background-color: white;
      padding: 1em;
      color: $mainColour;
      padding: 1em 2em;
      width: 100%;
      box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.19);
      &:hover, &:focus{
        outline:0;
      }
    }
    .logo{
      font-family: 'Pacifico', cursive;
      color:white;
      font-size:6em;
      margin-top:1.5em;
      margin-bottom:0.5em;
      line-height: 0.6em;
      small{
        font-size:20%;
      }
    }
    .form-control{
      margin: 1em 0;
      border: none;
      border-radius: 5px !important;
      padding: 1.5em;
    }
  }
  .developer_logo{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    margin-left: -0.5em;
  }
}

//2.0
//Navigation
.side-menu{
  box-shadow:none;
}
.nav{
  .account {
    background: #151515;
    height: 10em;
    color: white;
    padding: 1em;
    box-shadow: 1px 1px 7px #9c9c9c;
    padding-top: 2em;
    margin-left: -1px;
    margin-bottom:1em;
    small{
      opacity:0.7;
    }
    .profilePicture{
      background: white;
      background-size: cover;
      width: 5em;
      height: 5em;
      border-radius: 100%;
    }
    .name.pull-left {
      padding: 1.5em;
      font-size: 1.1em;
    }
  }
  li{
    .icon{
      margin-right: 1em;
      margin-left: 0.5em;
    }
    a{
      color: #585858;
      font-size: 1em;
      padding: 1em;
    }
  }
}
.navbar-default{
  color:white;
  background: $mainColour;
  margin: 0;
  border: 0;
  height: 4em;
  border-radius: 0;
  padding-top:0.3em;
  a{
    color: white;
    display: block;
    text-align: right;
  }
  .action{
    padding: 0.5em 0;
    font-size: 1.5em;
  }
  .title{
    padding: 0.5em 0;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    text-align:center;
  }
  .back {
    padding-top: 0.7em;
    font-size: 1.3em;
  }
  .side-menu-toggle{
    color:white;
    font-size:1.5em;
  }  
}


//3.0
//Overview
.overview {
  padding: 1em;
  color: #6d6d6d;
  .card{
    padding: 1em;
    min-height: 5em;
    border: 1px solid #ccc;
    margin: 1em 0em;
    .date{
      padding: 0.5em;
      margin-top: 0.4em;
    }
    .colourCode{
      display: block;
      background: #e26565;
      border-radius: 100%;
      width: 2em;
      height: 2em;
      margin-top: 0.5em;
    }
  }
}

//4.0
//Add Shift
.add-shift{
  padding:1em;
  color: #6d6d6d;
  .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
      background-color: #0044cc;
  }
  .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-image: none !important;
    border: none;
    background: #006399 !important;
    border-radius: 0;
  }
  .datepicker-inline {
    width: 100%;
  }
  .datepicker table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 85vh;
  }
  .input-group-addon {
    background: none;
    border: none;
    color: $mainColour;
  }
  .dateTime{
    margin-left:3em;
  }
  .input-group{
    margin-top:1em;
    margin-bottom:5em;
    &:last-child{
     margin-bottom:0; 
     margin-top: -0.5em;
    }
  }
  .form-control{
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    border-radius:0;
    border-bottom:2px solid $mainColour;
  }
}