/*
  Contents
  
  1.0 - Login
  2.0 - Navigation
  3.0 - Overview
  4.0 - Add Shift
  5.0 - History
  6.0 - Upcoming
  7.0 - Settings
  8.0 - Days Off

*/
@import 'bootstrap';
@import "ember-side-menu";

//Fonts
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';

$mainColour: #006399;
$red: #ff5151;
//$mainColour: #43A047;

*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
*{
  padding:0;
  margin:0;
  -webkit-transition-timing-function: ease-in-out;
  a{
    &:focus{
      outline:0;
    }
  }  
}
.nothing {
  margin-top: 50%;
}
.searchBar{
  background: rgb(2, 109, 167);
  width:100%;
  height:4.5em;
  color:white;
  padding: 1em;
  padding-top:1.2em;
  a{
    color:white;
    font-size:1.5em;
    padding: 0 0 0 0.5em;
  }
  input{
    width:91%;
    border-radius:5px;
    border:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding:0.5em;
    &:focus{
     outline:0; 
    }
  }
}
.filter{
  background: rgb(2, 109, 167);
  width:100%;
  height:4.5em;
  color:white;
  padding: 1em;
  padding-top:1.2em;
  a{
    color:white;
    font-size:1.5em;
  }
}
.alert-danger{
  border-radius:0;
  color:white;
  border:none;
  background:$red;
}
.btn-primary {
  background-color: $mainColour;
  color:white;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  opacity:0.5;
  background:white;
}
body{
  font-family: 'Ubuntu', sans-serif;
  color: #6d6d6d;
  padding-top:3.8em;
  background: #f9f9f9;
}

.loading {
  background: rgba(0, 99, 153, 0.98);
  position: fixed;
  z-index: 999999999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .spinner{
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 5em;
    color: white;
    display: block;
    margin-top: 50%;
    small{
      font-size:0.4em;
    }
  }
}
//1.0
//Login
.message_alert {
  background: $red;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  min-height: 4em;
  color: white;
  text-align: center;
  padding: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  z-index:9999999999;
}
.login_back{
  //background:url('https://static.pexels.com/photos/136739/pexels-photo-136739.jpeg') fixed center center;
  background:url('https://static.pexels.com/photos/110143/pexels-photo-110143-large.jpeg') fixed center center;
  background-size:cover;
  height:101%;
  position: fixed;
  width: 100%;
  overflow: scroll;
  a{
    color:white;
  }
  .login_form{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    color:white;
    .btn-primary {
      background-color: $mainColour;
      padding: 1em;
      color: white;
      padding: 1em 2em;
      width: 100%;
      border: none;
      &:hover, &:focus{
        outline:0;
      }
    }
    .btn-default {
      background-color: white;
      padding: 1em;
      color: $mainColour;
      padding: 1em 2em;
      width: 100%;
      margin-bottom:1em;
      margin-top:1em;
      border: none;
      &:hover, &:focus{
        outline:0;
      }
    }
    .round{
      height: 10em;
      width: 10em;
      border-radius: 100%;
      position:relative;
    }
    .logo{
      font-family: 'Pacifico', cursive;
      color:white;
      font-size:6em;
      margin-top:1.5em;
      margin-bottom:0.5em;
      line-height: 0.6em;
      small{
        font-size:20%;
      }
    }
    .form-control{
      margin: 1em 0;
      border: none;
      border-radius: 5px !important;
      padding: 1.5em;
    }
  }
  .developer_logo{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    margin-left: -0.5em;
  }
}

//2.0
//Navigation
.side-menu{
  box-shadow:none;
  z-index:99999999;
}
.nav{
  .account {
    background: #151515;
    height: 10em;
    color: white;
    padding: 1em;
    box-shadow: 1px 1px 7px #9c9c9c;
    padding-top: 2em;
    margin-left: -1px;
    margin-bottom:1em;
    small{
      opacity:0.7;
    }
    .profilePicture{
      background: white;
      background-size: cover;
      width: 5em;
      height: 5em;
      border-radius: 100%;
    }
    .name.pull-left {
      padding: 1em;
      font-size: 1.1em;
    }
  }
  li{
    .icon{
      margin-right: 1em;
      margin-left: 0.5em;
    }
    a{
      color: #585858;
      font-size: 1em;
      padding: 1em;
    }
  }
}
.navbar-default{
  color:white;
  background: $mainColour;
  margin: 0;
  border: 0;
  height: 4em;
  border-radius: 0;
  padding-top:0.3em;
  position:fixed;
  top:-1px;
  left:0;
  z-index:9;
  width:100%;
  .container-fluid{
    margin: 0;
    padding: 0 0.8em;
  }
  .menu{
    i{
      margin-left:0.8em;
    }
  }
  a{
    color: white;
    display: block;
    text-align: right;
  }
  .action{
    padding: 0.5em 0;
    font-size: 1.5em;
    position: fixed;
    right: 0.7em;
  }
  .title{
    padding: 0.5em 0;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    text-align:center;
  }
  .back {
    padding-top: 0.7em;
    font-size: 1.3em;
    i{
      margin-left: -2em;
      position: absolute;
      margin-top: 0.2em;
    }
  }
  .side-menu-toggle{
    color:white;
    font-size:1.5em;
    width: 3em;
    margin-left: -1.3em;
  }  
}


//3.0
//Overview
.overview {
  padding: 1em;
  color: #6d6d6d;
  margin-top: 13em;
  .back-top {
    top: -1px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 17em;
  }
  .welcome{
    font-size: 4em;
    background: #ff9800;
    border-radius: 100%;
    height: 1.5em;
    width: 1.5em;
    margin: 0.3em auto 0 auto;
    color: white;
    line-height: 1.5em;
    margin-top:-0.5em;
  }
  .toDo{
    color: #4e4e4e;
    font-weight: 100;
    padding: 1em 2em 0 2em;
    line-height: 1.5em;
  }
  .lastWeek{
    opacity:0.7;
  }
  .cards{
    padding-top:1em;
    .lg-card{
      padding: 1em;
      min-height: 6em;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin: 1em 0em;
      background: white;
      width: 90%;
      position: absolute;
      margin-left: 5%;
      margin-top: 5em;
    }
    .card{
      padding: 1em;
      min-height: 6em;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin: 1em 0em;
      background:white;
      .title{
        margin-top: 0.5em;
      }
      .remove{
        margin-top: 0.5em;
        i{
          color: #ccc;
          margin: 0.8em 0 0 -1em;
        }
      }
      .date{
        padding: 0.1em;
        min-width:4em;
        .done{
          color:#4CAF50;
        }
        .upcoming{
          color:#FF9800;
        }
      }
      .dayNight{
        border-radius: 100%;
        height: 2em;
        margin-top: 0.7em;
        .circle{
          display:block;
          border-radius:100%;
          width:2em;
          height:2em;
          text-align:center;
          line-height:2em;
          color:white;
        }
      }
    }
  }
}

//4.0
//Add Shift
.add-shift{
  margin: 1em;
  color: #6d6d6d;
  background: white;
  padding: 1em;
  .options{
    margin-top:1em;
  }
  .btn-default{
    background-color: white;
    padding: 1em;
    color: $mainColour;
    padding: 1em 2em;
    width: 45%;
    margin-top:1em;
    &:focus{
      outline:0;
    }
  }
  
  .btn-primary{
    background-color: $mainColour;
    padding: 1em;
    color: white;
    padding: 1em 2em;
    width: 45%;
    margin-top:1em;
    &:focus{
      outline:0;
    }
  }
  
  .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
    background-color: #0044cc;
  }
  .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-image: none !important;
    border: none;
    background: $mainColour !important;
    border-radius: 0;
  }
  .datepicker-inline {
    width: 100%;
    height: 77vh;
  }
  .datepicker table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 85vh;
  }
  .input-group-addon {
    background: none;
    border: none;
    color: $mainColour;
  }
  .dateTime{
    margin-left:3em;
  }
  .input-group{
    margin-top:1em;
    margin-bottom:5em;
    &:last-child{
     margin-bottom:0; 
     margin-top: -0.5em;
    }
  }
  .form-control{
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    border-radius:0;
    border-bottom:2px solid $mainColour;
  }
}

//5.0
//History
.history{
  padding: 1em;
  .cards{
    .lg-card{
      padding: 1em;
      min-height: 6em;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin: 1em 0em;
      background:white;
    }
    .card{
      padding: 1em;
      min-height: 6em;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin: 1em 0em;
      background:white;
      .title{
        margin-top: 0.5em;
      }
      .remove{
        margin-top: 0.5em;
        i{
          color: #ccc;
          margin: 0.8em 0 0 -1em;
        }
      }
      .date{
        padding: 0.1em;
        min-width:4em;
        .done{
          color:#4CAF50;
        }
        .upcoming{
          color:#FF9800;
        }
      }
      .dayNight{
        border-radius: 100%;
        height: 2em;
        margin-top: 0.7em;
        .circle{
          display:block;
          border-radius:100%;
          width:2em;
          height:2em;
          text-align:center;
          line-height:2em;
          color:white;
        }
      }
    }
  }
}

//6.0
//Upcoming
.upComing{
  padding: 1em;
  .cards{
    .lg-card{
      padding: 1em;
      min-height: 6em;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin: 1em 0em;
      background:white;
    }
    .card{
      padding: 1em;
      min-height: 6em;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin: 1em 0em;
      background:white;
      .title{
        margin-top: 0.5em;
      }
      .remove{
        margin-top: 0.5em;
        i{
          color: #ccc;
          margin: 0.8em 0 0 -1em;
        }
      }
      .date{
        padding: 0.1em;
        min-width:4em;
        .done{
          color:#4CAF50;
        }
        .upcoming{
          color:#FF9800;
        }
      }
      .dayNight{
        border-radius: 100%;
        height: 2em;
        margin-top: 0.7em;
        .circle{
          display:block;
          border-radius:100%;
          width:2em;
          height:2em;
          text-align:center;
          line-height:2em;
          color:white;
        }
      }
    }
  }
}
//7.0
//Settings
.settings{
  margin: 1em;
  color: #6d6d6d;
  background: white;
  padding: 1em;
  .imageUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
  }
  .imageUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .profilePicture{
    background: white;
    background-size: cover;
    width: 8em;
    height: 8em;
    border-radius: 100%;
    margin:0 auto;
  }
  .btn-default{
    background-color: white;
    padding: 1em;
    color: $mainColour;
    padding: 1em 2em;
    width: 45%;
    margin-top:1em;
    &:focus{
      outline:0;
    }
  }
  .btn-primary{
    background-color: $mainColour;
    padding: 1em;
    color: white;
    padding: 1em 2em;
    width: 45%;
    margin-top:1em;
    &:focus{
      outline:0;
    }
  }
  .input-group-addon {
    background: none;
    border: none;
    color: $mainColour;
  }
  .input-group{
    margin-top:1em;
    margin-bottom:5em;
    &:last-child{
     margin-bottom:0; 
     margin-top: -0.5em;
    }
  }
  .form-control{
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    border-radius:0;
    border-bottom:2px solid $mainColour;
  }
}

//8.0
//Days Off
.daysOff{
  color: #6d6d6d;
  .cards{
    padding-top:1em;
    .lg-card{
      padding: 1em;
      min-height: 6em;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin: 1em 0em;
      background: white;
      width: 90%;
      position: absolute;
      margin-left: 5%;
      margin-top: 5em;
    }
    .card{
      padding: 1em;
      min-height: 6em;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin: 1em 0em;
      background:white;
      .title{
        margin-top: 0.5em;
      }
      .remove{
        margin-top: 0.5em;
        i{
          color: #ccc;
          margin: 0.8em 0 0 -1em;
        }
      }
      .date{
        padding: 0.1em;
        min-width:4em;
        .done{
          color:#4CAF50;
        }
        .upcoming{
          color:#FF9800;
        }
      }
      .dayNight{
        border-radius: 100%;
        height: 2em;
        margin-top: 0.7em;
        .circle{
          display:block;
          border-radius:100%;
          width:2em;
          height:2em;
          text-align:center;
          line-height:2em;
          color:white;
        }
      }
    }
  }
}