<div class="add-shift">
  {{#if sectionOne}}
    {{bootstrap-datepicker-inline multidate=true placeholder="Click to play" value=dates}}
  {{else}}
    <button class="btn btn-default" {{action 'select' 'day'}}>Day</button> <button class="btn btn-default" {{action 'select' 'night'}}>Night</button>
  {{/if}}
</div>