{{#if message}}
  <div class="message_alert">
    {{message}}
  </div>
{{/if}}


{{partial "navigation"}}
{{outlet}}

{{#if loading}}
  <div class="loading">
    <span class="spinner">{{fa-icon 'circle-o-notch' spin=true}}</span>
  </div>
{{/if}}