<div class="overview">
  <div class="history_cards">
    
    <div class="card">
      <div class="title pull-left">
        <strong>NHS</strong>
        <br>
        Ward 17
      </div>
      <div class="date pull-right">
        15/08/2016 at 07:00am for 12 hours
      </div>
      <span class="colourCode pull-right"></span>
    </div>
    
    <div class="card">
      <div class="title pull-left">
        <strong>NHS</strong>
        <br>
        Ward 17
      </div>
      <div class="date pull-right">
        15/08/2016 at 07:00am for 12 hours
      </div>
      <span class="colourCode pull-right"></span>
    </div>
    
    <div class="card">
      <div class="title pull-left">
        <strong>NHS</strong>
        <br>
        Ward 17
      </div>
      <div class="date pull-right">
        15/08/2016 at 07:00am for 12 hours
      </div>
      <span class="colourCode pull-right"></span>
    </div>
    
    <div class="card">
      <div class="title pull-left">
        <strong>NHS</strong>
        <br>
        Ward 17
      </div>
      <div class="date pull-right">
        15/08/2016 at 07:00am for 12 hours
      </div>
      <span class="colourCode pull-right"></span>
    </div>
    
    <div class="card">
      <div class="title pull-left">
        <strong>NHS</strong>
        <br>
        Ward 17
      </div>
      <div class="date pull-right">
        15/08/2016 at 07:00am for 12 hours
      </div>
      <span class="colourCode pull-right"></span>
    </div>
    
  </div>
</div>